## Python Basic Programming Exercises
#### Name - Pawan Saini

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5+4*9%(3+1)/6-1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [14]:
num = int(input("Please enter a number - "))
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Please enter a number - 6
The number is even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [20]:
num = int(input("Please enter a number - "))
for i in range(1,11):
    print(f'{num} x {i} = {num*i}')

Please enter a number - 257
257 x 1 = 257
257 x 2 = 514
257 x 3 = 771
257 x 4 = 1028
257 x 5 = 1285
257 x 6 = 1542
257 x 7 = 1799
257 x 8 = 2056
257 x 9 = 2313
257 x 10 = 2570

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i,end=',')
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [21]:
Output = []

for num in range(2000,3201,1):
    if num % 7 == 0 and num % 5 != 0:
        Output.append(num)
print(Output)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
l1 =   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
list_int = []
list_str = []
list_float = []
list_bool = []

for i in range(len(l1)):
    if type(l1[i]) == int:
        list_int.append(i)
    elif type(l1[i]) == str:
        list_str.append(i)
    elif type(l1[i]) == float:
        list_float.append(i)
    else:
        list_bool.append(i)
        
print('Total int type - ', len(list_int))
print('Total string type - ', len(list_str))
print('Total float type - ', len(list_float))
print('Total bool type - ', len(list_bool))

Total int type -  5
Total string type -  4
Total float type -  1
Total bool type -  2

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [13]:
li =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
l2 = []
for i in range(len(li)):
    if type(li[i]) == int or type(li[i]) == float:
        l2.append(li[i])
print(sum(l2))

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [44]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
l2 = []
for item in l1:
    if type(item) == str:
        l2.append(item)
l3 = '-'.join(l2)
print(l3)

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [18]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

list2 = []
for i in list1:
    if type(i) == int or type(i) == float:
        list2.append(i)

list3 = []
for i in list1:
    if type(i) == str:
        list3.append(i)
        
def my_func(l):
    dict1 = {}
    dict1['sum of all numbers'] = sum(list2)
    dict1['count of all str'] = len(list3)
    return dict1

my_func(list1)

{'sum of all numbers': 21.5, 'count of all str': 4}

In [6]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(l):
    dict1 = {}
    dict1['sum of all numbers (exclude bool)'] = sum([float(i) for i in l if type(i) == int or type(i) == float])
    dict1['count of all str'] = len([str(i) for i in l if type(i) == str])
    return dict1

my_func(list1)

{'sum of all numbers (exclude bool)': 21.5, 'count of all str': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [20]:
# ii. using 'loops'

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list = []
for i in li:
    if i % 2 != 0:
        new_list.append(i)
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

In [21]:
# iii. using 'list comprehensions'

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list = [i for i in li if i % 2 != 0]
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

In [23]:
# i. using 'Lambda function with filter'

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

new_list = list(filter(lambda i : i % 2 != 0, li))
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [67]:

def aggregate(func_type, *args):
    """Returns the min, max, count, sum and mean of user provided list of numbers"""
    if func_type == 'sum':
        return sum(args)
    if func_type == 'count':
        return len(args)
    if func_type == 'max':
        return max(args)
    if func_type == 'min':
        return min(args)
    if func_type == 'mean':
        return mean(args)

    
aggregate('sum', 1,2,3,4,5)
aggregate('min', 1,2,3,4,-8)
aggregate('max', 1,2,3,4,87)
aggregate('count', 1,2,3,4,5)
aggregate('mean', 1,2,3,4,56)

13.2

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [36]:
def calculate_area(shape, **dimensions):
    """Return the area of different shapes as per input provided by user"""
 
    if shape == 'square':
        key1 = list(dimensions.keys())[0]
        if key1 == 'side':
            area_sq = dimensions['side'] ** 2
            print(f' Area of Square is {area_sq}')
        else:
            print("Please enter 'side' for square")
             
    elif shape == 'rectangle':
        key1 = list(dimensions.keys())[0]
        key2 = list(dimensions.keys())[1]
        if key1 == 'length' and key2 == 'width':
            area_rect = dimensions['length'] * dimensions['width']
            print(f' Area of Rectangle is {area_rect}')
        else:
            print("Please enter 'length and width' for rectangle")
        
    elif shape == 'circle':
        key1 = list(dimensions.keys())[0]
        if key1 == 'radius':
            area_circ = 3.14 * dimensions['radius'] ** 2
            print(f' Area of Circle is {area_circ}')
        else:
            print("Please enter 'radius' for circle")
     
    else:
        print("Please enter correct keywords")
        
             
calculate_area('square', side = 3)

 Area of Square is 9

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [1]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def func(l1,l2):
    x = set(l1)
    y = set(l2)
    result = {}
    result['Matched'] = list(x.intersection(y))
    result['Only in l1'] = list(x-y)
    result['Only in l2'] = list(y-x)
    return result

func(l1,l2)

{'Matched': ['January', 'December', 'June', 'February'],
 'Only in l1': ['September', 'May', 'March'],
 'Only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [3]:
num = int(input("Please enter a number - "))

def is_prime(num):
    
    if num == 1:
        return False
    if num == 2:
        return True
    for i in range(2,num):
        if num % i == 0:
            return False
    return True

is_prime(num)

Please enter a number - 7

True

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [22]:
num = int(input("Enter a number- "))
fact = 1
if num < 0:
        print("Factorial of negative number does not exist")
elif num == 0:
        print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        fact = fact * i
print(f'The factorial of {num} is {fact}')

Enter a number- 3
The factorial of 3 is 6

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [4]:
num = int(input("Please enter a number "))
dict1 = {i:i * i for i in range(1, num + 1)}
dict1

Please enter a number 6

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [6]:
num = input("Please enter numbers : ")
l1 = num.split(",")
t1 = tuple(l1)
print(l1, end = " ")
print(t1)

Please enter numbers : 1,2,3
['1', '2', '3'] ('1', '2', '3')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [54]:
words = input("Enter comma separated sequence of words : ")
n = words.split(",")
n.sort()
print((", ").join(n))

Enter comma separated sequence of words : hello,this,is,my,code
code, hello, is, my, this

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [64]:
line = input('Enter a sequence of whitespace separated words : ')
line1 = line.split(' ')
line1 = set(line1)
sorted_line = sorted(line1)
print((' ').join(sorted_line))

Enter a sequence of whitespace separated words : hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [7]:
sentence = str(input('Enter a sentence : '))

upper , lower = 0,0
for i in sentence:
    if i.isupper():
        upper = upper + 1
    elif i.islower():
        lower = lower + 1
    else:
        pass
print('UPPER CASE -', upper,'LOWER CASE -', lower)

Enter a sentence : Hello World
UPPER CASE - 2 LOWER CASE - 8

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [23]:
str_input = str(input("Please enter a string "))
str_1 = str_input[::-1]
print(str_1)

Please enter a string Hello15436
63451olleH